= form_for [:admin, @page], :html => { :class => 'form-horizontal' } do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
          
  .row
    .span5
      .control-group
        = f.label :title, :class => 'control-label', data: { help: t('view.inline_help.news_item.title_hint') }
        .controls
          = f.text_field :title, :class => 'text_field', disabled: ('disabled' if @page.class != NewsItem) 
    .span7
      .control-group
        = f.label :created_at, "Written", :class => 'control-label'
        .controls
          = f.date_select :created_at, {include_blank: false, :order => [:day, :month, :year], :use_short_month => true, :start_year => 1945, :end_year => Time.now.year, :datetime_separator => ""}, { class: 'page_created_at' }


  .row
    .span5
      .control-group
        = f.label :image, :class => 'control-label'
        .controls
          = f.hidden_field(:image_cache)
          = f.file_field(:image)
          - if @page.image?
            - if @page.image_processing?
              Processing (refresh this page to check if uploaded)
            - else
              = image_tag(@page.image_url(:thumbnail))
              %br
              %label{for: 'news_item_remove_image'} 
                = f.check_box :remove_image
                Delete?

    .span7
      .control-group
        = f.label :author, :class => 'control-label'
        .controls
          = f.text_field :author, :class => 'text_field'

  .control-group
    = f.label :synopsis, :class => 'control-label', data: { help: t('view.inline_help.news_item.synopsis_hint') }
    .controls
      = f.text_area :synopsis, :class => 'text_area', rows: 3
      
  .control-group
    = f.label :content, "Content", :class => 'control-label', data: ({ help: t('view.inline_help.news_item.content_hint') } if @page.class == NewsItem)
    .controls
      = f.text_area :content, :class => 'text_area tinymce', rows: 3
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_pages_path, :class => 'btn'

= tinymce uploadimage_hint: @page.id
