= form_for [:admin, @page], :html => { :class => 'form-horizontal' } do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = f.label :title, :class => 'col-sm-3 col-form-label', data: { help: t('view.inline_help.news_item.title_hint') }
    .col-sm-9
      = f.text_field :title, :class => 'form-control', disabled: ('disabled' if @page.class != NewsItem)

  .form-group.row
    = f.label :created_at, "Written", :class => 'col-sm-3 col-form-label', data: { help: t('view.inline_help.news_item.written_hint') }
    .col-sm-9
      .date-select
        = f.date_select :created_at, {include_blank: false, :order => [:day, :month, :year], :use_short_month => true, :start_year => 1945, :end_year => Time.now.year, :datetime_separator => ""}, { class: 'form-control' }

  .form-group.row
    = f.label :author, :class => 'col-sm-3 col-form-label', data: { help: t('view.inline_help.news_item.author_hint') }
    .col-sm-9
      = f.text_field :author, :class => 'form-control'

  - if @page.dribbling_balls_link.present?
    .form-group.row
      = f.label :dribbling_balls_link, :class => 'col-sm-3 col-form-label'
      .col-sm-9
        = f.text_field :dribbling_balls_link, :class => 'form-control'

  - unless @page.class == NewsItem
    .form-group.row
      = f.label :synopsis, :class => 'col-sm-3 col-form-label', data: { help: t('view.inline_help.news_item.synopsis_hint') }
      .col-sm-9
        = f.text_area :synopsis, :class => 'form-control', rows: 3

  .form-group.row
    = f.label :content, "Content", :class => 'col-sm-3 col-form-label', data: ({ help: t('view.inline_help.news_item.content_hint') } if @page.class == NewsItem)
    .col-sm-9
      = f.text_area :content, :class => 'form-control tinymce', rows: 3

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", admin_pages_path, :class => 'btn btn-secondary'

= tinymce uploadimage_hint: @page.id
