= form_for [:admin, @page], :html => { :class => 'form-horizontal' } do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
          
  .muted 
    %b The Title is used as the page/article heading
    %br 
    eg. 
    %em "Unigames Men win 2012 Silver, Women take home Bronze"
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'

  .row
    .span5
      .control-group
        = f.label :image, :class => 'control-label'
        .controls
          = f.hidden_field(:image_cache)
          = f.file_field(:image)
    .span7
      .control-group
        = f.label :author, :class => 'control-label'
        .controls
          = f.text_field :author, :class => 'text_field'

  .muted 
    %b The Synopsis field is a one paragraph overview 
    %br
    eg.
    %em "After fielding numerous queries from bemused big V spectators regarding the the roid-raged physically monstrostastic guns and lateral deceptiveness of norto, sunda, mase & crew and following complete domination of the Mens Big V in 09/10, it's time to let the cat out of the bag and even up the playing field with the Baylor Weights program!!"
  .control-group
    = f.label :synopsis, :class => 'control-label'
    .controls
      = f.text_area :synopsis, :class => 'text_area', rows: 3
      
  - if @page.class == NewsItem
    .muted 
      %b The Content field is optional and creates a dedicated page for this content. 
      %br
      Use only if one paragraph and a photo is not sufficient (such as for a tournament report)
      %br
      eg. 
      %em For all you scrawny enthusiasts out there with a sports center gym membership and a cupboard full of protein powder, the secret behind the boys success is in fact, the fabled and elusive Baylor program. Yes indeed, this is the one and only workout program that teleported Aaron Bruce's skinny ass into the atlassian monster of Texas NCAA circa 2007
  .control-group
    = f.label :content, :class => 'control-label'
    .controls
      = f.text_area :content, :class => 'text_area', rows: 1
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_pages_path, :class => 'btn'
