- model_class = Page
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @page.title
%p
  %strong= model_class.human_attribute_name(:author) + ':'
  %br
  = @page.author
%p
  %strong= model_class.human_attribute_name(:synopsis) + ':'
  %br 
  = @page.synopsis

- if @page.image?
  %p
    %strong= model_class.human_attribute_name(:image) + ':'
    %br
    - if @page.image_processing?
      Processing (refresh this page to check if uploaded)
    - else
      = image_tag(@page.image_url(:standard))

- if @page.pdf?
  %p
    %strong PDF:
    %br
    = link_to "Click here to download", @page.pdf_url

.content
  %strong= model_class.human_attribute_name(:content) + ':'
  %br
  = @page.content.html_safe

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), admin_pages_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_page_path(@page), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), [:admin, @page], :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
