= form_for [:admin, @member], :html => { :class => 'form-horizontal', id: "admin_member_form" } do |f|
  .form-group.row
    = f.label :eligibility_clause, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.select :eligibility_clause, eligibility_options, {}, class: 'form-control'
  .form-group.row
    = f.label :eligibility_justification, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :eligibility_justification, :class => 'form-control'
  .form-group.row
    = f.label :payment_method, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :payment_method, :class => 'form-control'
  .form-group.row
    = f.label :given_name, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :given_name, :class => 'form-control'
  .form-group.row
    = f.label :family_name, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :family_name, :class => 'form-control'
  .form-group.row
    = f.label :postal_address, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_area :postal_address, :class => 'form-control', rows: 3
  .form-group.row
    = f.label :phone_number_mobile, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :phone_number_mobile, :class => 'form-control'
  .form-group.row
    = f.label "Emergency Contact Phone Number", :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :phone_number_other, :class => 'form-control'
  .form-group.row
    = f.label :email, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :email, :class => 'form-control'
  .form-group.row
    = f.label :date_of_birth, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      .date-select
        = f.date_select :date_of_birth, {start_year: Time.now.year - 100, end_year: Time.now.year - 15}, :class => 'form-control'
  .form-group.row
    = f.label :gender, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :gender, :class => 'form-control'
  .form-group.row
    = f.label :new_member, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.check_box :new_member, :class => 'check_box'
  .form-group.row
    = f.label :your_existing_mubc_singlet_numbers, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :your_existing_mubc_singlet_numbers, :class => 'form-control', placeholder: "eg. 4, 13"
  .form-group.row
    = f.label :how_did_you_hear_about_the_club, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_area :how_did_you_hear_about_the_club, :class => 'form-control', rows: 3
  .form-group.row
    = f.label :amount_paid, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.number_field :amount_paid, :class => 'form-control'
  .form-group.row
    = f.label :payment_confirmed, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.check_box :payment_confirmed, :class => 'check_box'
  .form-group.row
    = f.label :payment_acknowledgement, :class => 'col-sm-3 col-form-label'
    .col-sm-9
      = f.text_field :payment_acknowledgement, :class => 'form-control'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", admin_members_path, :class => 'btn btn-secondary'
