%table.table.table-striped
  %thead
    %tr
      %th Reference
      %th Amount
      %th Name
      %th Contact
      %th Age/Gender
      %th Eligibility
      %th Actions
  %tbody
    - unpaid_members.each do |member|
      %tr
        %td
          = member.reference
          .text-muted= member.created_at.to_s(:abbr_month_day_year)
        %td
          == $#{member.amount_paid}
          %br
          - if member.payment_method == 'paypal'
            Paypal
          - else
            Bank Transfer
        %td= link_to member.name, [:admin, member]
        %td
          em:
          = link_to member.email, "mailto:#{member.email}"
          %br
          ph:
          == #{member.phone_number_mobile} / #{member.phone_number_other}
        %td
          = member.age_and_gender
          - if member.new_member?
            .text-muted New Member
        %td
          = member.eligibility_clause
          .text-muted= member.eligibility_justification
        %td
          - if cookies[:superadmin].present?
            = link_to "Acknowledge Payment", acknowledge_payment_admin_member_path(member), :class => 'payment_acknowledgement btn btn-primary btn-mini'
            = link_to "Destroy", [:admin, member], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
