= link_to "Download CSV Export", csv_export_admin_members_path, :class => 'btn btn-primary right', style: 'margin-top:30px'

.page-header
  %h3 Members for #{Date.today.year}
  
== Members: #{@member_count} 
%span.muted (Male: #{@males_percentage}%, Female: #{@females_percentage}%)
%br 
== Average Age: #{@average_age} 
%span.muted (Males: #{@average_male_age}, Female: #{@average_female_age})
%br 
Total money collected: 
%b== #{number_to_currency(@total_money_collected)}

%table.table.table-striped
  %thead
    %tr
      %th Joined
      %th Name
      %th
      %th Contact
      %th Age/Gender
      %th Uniform(s)
      %th Actions
  %tbody
    = render partial: 'list', locals: {members: @members}
    %tr
      %td{colspan: 7}
        %br
        %br
        %h4== Expiring on April 1st, #{Date.today.year}:
    = render partial: 'list', locals: {members: @expiring_members}
