%ul.unstyled
  - news_items.each do |news_item|
    %li
      %h5= news_item.title
      .muted== #{news_item.created_at.to_s(:month_day_year)} - submitted by #{news_item.author}
      = news_item.synopsis
      %td= link_to news_item.id, [:admin, news_item]
