%ul.unstyled
  - news_items.each_with_index do |news_item, i|
    %li.news_item
      %h4
        - if news_item.has_page?
          = link_to news_item.title, article_path(news_item.year, news_item) 
        - else
          = news_item.title
      - if news_item.summary_image?
        .news_image{class: (i % 2 == 0 ? 'news_image_right' : 'news_image_left')}
          - if news_item.content.blank?
            = link_to image_tag(news_item.summary_image.url(:thumbnail)), news_item.summary_image.url
          - else
            = link_to image_tag(news_item.summary_image.url(:thumbnail)), article_path(news_item.year, news_item) 
      - elsif news_item.has_pdf?
        .news_image_left
          = link_to news_item.pdf_link, {onclick: "_gaq.push(['_trackEvent', 'PDF', 'Open', '#{news_item.title}']);"} do
            = image_tag('pdf_icon.png', id: 'pdf')
            %br
            Click here to download 

      .muted== #{news_item.created_at.to_s(:month_day_year)} - submitted by #{news_item.author}
      %br
      = news_item.summary.try(:html_safe)
      - if news_item.has_page?
        %br
        = link_to 'Read Full Article', article_path(news_item.year, news_item)
