- if @page.class == NewsItem
  = link_to "Home", root_path
  &gt;
  = link_to "News", archived_news_path
  &gt;
  = link_to @page.year, archived_news_for_year_path(@page.year)
  &gt;
  News Item
    
  %h2
    = @page.title
  .muted
    = @page.created_at.to_s(:month_day_year)
    - if @page.author?
      == - submitted by 
      = link_to(@page.author, author_path(@page.author))
    %br
    %br

.content
  - if @page.pdf?
    .page_pdf
      = link_to @page.pdf_url, {onclick: "_gaq.push(['_trackEvent', 'PDF', 'Open', '#{@page.title}']);"} do
        = image_tag('pdf_icon.png', id: 'pdf')
        %br
        Click here to download 
  - if @page.content
    = content_html_with_linked_images(@page)
  - else
    = @page.synopsis

  - if @page.class == NewsItem
    %p.clear
      %br
      %br
      = render :partial => 'pages/facebook_comments'
