- if @current_page.class == NewsItem
  = link_to "Home", root_path
  &gt;
  - if @current_page.dribbling_balls_link?
    = link_to "Dribbling Balls", dribbling_balls_path
  - else
    = link_to "News", archived_news_path
    &gt;
    = link_to @current_page.year, archived_news_for_year_path(@current_page.year)
  &gt;
  News Item

  %h2
    = @current_page.title
  .text-muted
    = @current_page.created_at.to_s(:month_day_year)
    - if @current_page.author?
      == - submitted by
      = link_to(@current_page.author, author_path(@current_page.author))
    %br
    %br

.content
  - if @current_page.pdf?
    .page_pdf
      = link_to @current_page.pdf_url, {onclick: "_gaq.push(['_trackEvent', 'PDF', 'Open', '#{@current_page.title}']);"} do
        = image_tag('pdf_icon.png', id: 'pdf')
        %br
        Click here to download
  - elsif @current_page.dribbling_balls_link?
    .page_pdf
      = link_to @current_page.dribbling_balls_link, {onclick: "_gaq.push(['_trackEvent', 'PDF', 'Open', '#{@current_page.title}']);"} do
        = image_tag('pdf_icon.png', id: 'pdf')
        %br
        Click here to download
  - if @current_page.content
    = content_html_with_linked_images(@current_page)
  - else
    = @current_page.synopsis

  - if @current_page.class == NewsItem
    %p.clear
      %br
      %br
      = render :partial => 'pages/facebook_comments'
