%h1 Listing admin_news_items

%table
  %tr
    %th Title
    %th Author
    %th Synopsis
    %th Article
    %th
    %th
    %th

  - @news_items.each do |news_item|
    %tr
      %td= news_item.title
      %td= news_item.author
      %td= news_item.synopsis
      %td= news_item.article
      %td= link_to 'Show', [:admin, news_item]
      %td= link_to 'Edit', edit_admin_news_item_path(news_item)
      %td= link_to 'Destroy', [:admin, news_item], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New News item', new_admin_news_item_path
