<!DOCTYPE html>
<html>
<head>
  <title>Melbourneunibasketball</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= tinymce_assets %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="header" class="navbar navbar-fixed-top">
    <div id="bigv_champs" class="visible-desktop">2004, 2009, 2010<br/>Big V Mens Champions</div>
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="logo_brand" href="/"><%= image_tag "logo.png" %></a>
        <div class="nav-collapse collapse">
          <ul class="nav" id="topnav">
            <% controller_name = params[:controller].split("/").last %>
            <li class="<%= "active" if controller_name == 'news_items' or @page.try(:class) == NewsItem %>"><%= link_to "News Admin", admin_news_items_path %></li>
            <li class="<%= "active" if controller_name == 'pages' and @page.try(:class) != NewsItem %>"><%= link_to "Pages Admin", admin_pages_path %></li>
            <% if cookies[:superadmin] %>
              <li class="<%= "active" if controller_name == 'members' and params[:action] != 'pending' %>"><%= link_to "Members Admin", admin_members_path %></li>
              <li class="<%= "active" if controller_name == 'members' and params[:action] == 'pending' %>"><%= link_to "Pending Member Applications", pending_admin_members_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <% unless flash.empty? %>
      <div class="row-fluid">
        <div class="span12">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>

</body>
</html>
