!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Melbourneunibasketball"
    = csrf_meta_tags
    = tinymce_assets
    = stylesheet_link_tag "application", :media => "all"
    /= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    /= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    /= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    /= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon', :skip_pipeline => true
    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"

  %body
    %nav.navbar.navbar-expand-md.navbar-dark.fixed-top
      %a.navbar-brand(href="/")
        = image_tag "logo.png"

      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon

      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto#topnav
          - if @admin
            - controller_name = params[:controller].split("/").last
            %li{class: ['nav-item', ('active' if  controller_name == 'news_items' or @page.try(:class) == NewsItem)]}
              = link_to "News Admin", admin_news_items_path, class: 'nav-link'
            %li{class: ['nav-item', ('active' if  controller_name == 'pages' and @page.try(:class) != NewsItem)]}
              = link_to "Pages Admin", admin_pages_path, class: 'nav-link'
            %li{class: ['nav-item', ('active' if  controller_name == 'members' and params[:action] != 'pending')]}
              = link_to "Members Admin", admin_members_path, class: 'nav-link'
            %li{class: ['nav-item', ('active' if  controller_name == 'newsletters')]}
              = link_to "Newsletters", admin_newsletters_path, class: 'nav-link'
          - else
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", class: ['nav-item', ('active' if params[:controller] == 'domestic')], :role => "button"} Domestic
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
                %li{class: ['nav-item', ('active' if params[:action] == 'faq')]}
                  = link_to Page::DOMESTIC, domestic_path, class: ['dropdown-item', ('active' if params[:action] == 'faq')]
                %li{class: ['nav-item', ('active' if params[:action] == 'fixtures')]}
                  = link_to "Domestic Fixtures / Ladders", Page::LINK_DOMESTIC_FIXTURES, class: ['dropdown-item'], target: '_blank'
                %li{class: ['nav-item', ('active' if params[:action] == 'uniforms')]}
                  = link_to Page::DOMESTIC_UNIFORMS, uniforms_path, class: ['dropdown-item', ('active' if params[:action] == 'uniforms')]
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", class: ['nav-item', ('active' if params[:controller] == 'big_v')], :role => "button"} Big V
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
                %li{class: ['nav-item']}
                  = link_to Page::BIG_V, bigv_path, class: ['dropdown-item']
                %li{class: ['nav-item', ('active' if params[:action] == 'fixtures')]}
                  = link_to Page::BIG_V_FIXTURES, bigv_fixtures_path, class: ['dropdown-item', ('active' if params[:action] == 'fixtures' && params[:controller] == 'big_v')]
                %li{class: ['nav-item']}
                  = link_to "Results", "https://www.basketballvictoria.com.au/bigv/fixtures", class: ['dropdown-item'], target: '_blank'
                %li{class: ['nav-item', ('active' if params[:action] == 'teams')]}
                  = link_to Page::BIG_V_TEAMS, bigv_teams_path, class: ['dropdown-item', ('active' if params[:action] == 'teams')]
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", class: ['nav-item', ('active' if params[:controller] == 'about')], :role => "button"} About Us
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
                %li{class: ['nav-item']}
                  = link_to Page::ABOUT_THE_CLUB, about_path, class: ['dropdown-item']
                %li{class: ['nav-item', ('active' if params[:action] == 'event_calendar')]}
                  = link_to Page::EVENT_CALENDAR, event_calendar_path, class: ['dropdown-item', ('active' if params[:action] == 'event_calendar')]
                %li{class: ['nav-item', ('active' if params[:action] == 'sponsors')]}
                  = link_to Page::SPONSORS, sponsors_path, class: ['dropdown-item', ('active' if params[:action] == 'sponsors')]
                %li{class: ['nav-item', ('active' if params[:action] == 'contact_us')]}
                  = link_to Page::CONTACT_US, contact_us_path, class: ['dropdown-item', ('active' if params[:action] == 'contact_us')]
                %li{class: ['nav-item']}
                  = link_to "More", about_path, class: ['dropdown-item']
            %li.nav-item.dropdown
              = link_to Page::FAQ, faq_path, class: ["nav-link", "nav-item", ('active' if params[:controller] == 'faq')]
              -# %a.nav-link{"aria-expanded" => "false", "data-toggle" => "dropdown", class: ['nav-item', ('active' if params[:controller] == 'faq')], :role => "button"} FAQ
            %li{class: ['nav-item', ('active' if params[:controller] == 'members')]}
              = link_to "Membership", members_path, class: 'nav-link btn btn-primary'

      %span.navbar-text.small.d-none.d-lg-block.text-center
        /Big V Champions 2004, 2009, 2010 (Men) and 2019 (Women)
        Big V Champions
        %br
        Men 2004, 2009, 2010
        %br
        Women 2019

    .container-fluid
      .row
        - if @left_sidebar
          .col-md-3
            = render partial: @left_sidebar

        - if @left_sidebar || @right_sidebar
          .col-md-9
            = render 'alerts'
            = yield
        - else
          .col-md-12#page_content
            = render 'alerts'
            = yield

        .col-md-3
          - if @right_sidebar
            = @right_sidebar.content.html_safe

      %footer.pt-4.my-md-5.pt-md-5.small.text-muted
        .container-fluid
          .d-flex.justify-content-between
            .flex-grow-1
              %p
                © Melbourne University Basketball Club #{Date.today.year}.
                - if @current_page
                  This page was last updated
                  - if @current_page.author?
                    by #{@current_page.author}
                  on #{@current_page.updated_at.to_s(:month_day_year)}.
                %br
                This page, its contents and style, are the responsibility of the author and do not necessarily represent the views, policies or opinions of The University of Melbourne.
            %div
              - if @current_page
                Administer
                = link_to "Page", edit_admin_page_path(@current_page)
                |
                = link_to "Site", admin_path
              - else
                = link_to "Administer Site", admin_path

- if Rails.env.production?
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-38749659-1"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-38749659-1');
