<!DOCTYPE html>
<html>
<head>
  <title>Melbourneunibasketball</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
              <%= image_tag "mubc_logo.png" %>
              <div>
                Melbourne<br/>
                University<br/>
                Basketball<br/>
                Club
              </div>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav" id="topnav">
              <li class="<%= "active" if params[:controller] == 'news' and !['index', 'event_calendar'].index(params[:action]) %>"><%= link_to "News Archive", archived_news_path %></li>
              <li class="<%= "active" if params[:action] == 'event_calendar' %>"><%= link_to "Event Calendar", event_calendar_path %></li>
              <li class="<%= "active" if params[:controller] == 'about' %>"><%= link_to "About MUBC", about_path %></li>
              <li class="<%= "active" if params[:controller] == 'contact' %>"><%= link_to "Join The Club", contact_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <% if @left_sidebar %>
          <div class="span3">
            <div class="well sidebar-nav">
              <%= render :partial => @left_sidebar %>
            </div><!--/.well -->
          </div><!--/span-->
        <% end %>
        <div class="span9">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          
          <%= yield %>
        </div><!--/span-->
        <% if @right_sidebar %>
          <div class="span3">
            <div class="well sidebar-nav">
              <%= @right_sidebar.content.html_safe %>
            </div>
          </div>
        <% end %>
        </div><!--/row-->
      </div><!--/row-->

      <hr>

      <footer class="muted">
        <%= link_to "Administer Site", admin_path, :class => 'btn btn-mini btn-danger right' %>
        <p>&copy; Melbourne University Basketball Club <%= Date.today.year %></p>
        <p>This page, its contents and style, are the responsibility of the author and do not necessarily represent the views, policies or opinions of The University of Melbourne.</p>
      </footer>

    </div><!--/.fluid-container-->

</body>
</html>
