%h4 Selecting your Membership Eligibility Clause
%p All prospective and returning MUBC members must sign up via a "Domestic" eligibility clause unless directly told otherwise by an MUBC representative (e.g. Big V players, committee members, life members). 
%p 
  If you are not a 
  %b currently enrolled 
  Melbourne University student, Melbourne University alumni, or Melbourne University staff member, you must sign up via the "Domestic: Other" eligibility clause only."

%h4 Membership Cost
%p
  == For period #{Member.signup_start_date} - #{Member.new_membership_club_year_end.to_s(:month_day_year)}
%p
  == $#{Member.student_fee} for currently enrolled Melbourne University Students
%p
  == $#{Member.non_student_fee} for all other members
%p.text-muted
  == A $#{Member::LATE_FEE} late fee applies if fees are not paid before #{Member.late_fee_cutoff.strftime("%b %d")}
%p.text-muted
  == After #{Member.winter_season_start.to_s(:month_day_year)}, our student fee for 'winter season only' drops to #{number_to_currency(Member::WINTER_SEASON_STUDENT_FEE)} and our non-student fee drops to #{number_to_currency(Member::WINTER_SEASON_NON_STUDENT_FEE)}
