#ie_warning{style: "display:none"}
  %p
    %b
      Note: this form doesn't work on older versions of internet explorer which we are in the process of fixing.
  %p
    %b
      If you are having trouble submitting it, try a different web browser
      eg.
      = link_to "https://www.google.com/intl/en/chrome/browser/", "https://www.google.com/intl/en/chrome/browser/"
      or
      = link_to "http://www.mozilla.org/en-US/firefox/new/", "http://www.mozilla.org/en-US/firefox/new/"
  %br
  %br

= form_for @member, :html => { id: 'membership_form', :class => 'form-horizontal' } do |f|
  = hidden_field_tag "annual_student_fee", Member.student_fee, { :id => "annual_student_fee" }
  = hidden_field_tag "annual_non_student_fee", Member.non_student_fee, { :id => "annual_non_student_fee" }
  = hidden_field_tag "late_fee", Member.late_fee, { :id => "late_fee" }

  - if @member.errors.any?
    #error_explanation
      %h2
        = pluralize(@member.errors.count, "error")
        prohibited this application from progressing.
        %br
        Please fill in the highlighted fields.


  .row
    .span12
      .control-group
        = f.label :eligibility_clause, :class => 'control-label'
        .controls.group
          = f.select :eligibility_clause, eligibility_options

      .control-group
        = f.label :eligibility_justification, :class => 'control-label', id: 'eligibility_justification_label', style: ("display:none" unless @member.eligibility_clause?)
        .controls
          = f.text_field :eligibility_justification, :class => 'text_field', style: ("display:none" unless @member.eligibility_clause?)


      .control-group#membership_fee{style: 'display:none'}
        .controls
          == Membership fee:
          %h1#membership_fee_dollars $-1
          #membership_breakdown.muted
          = f.hidden_field :amount_paid

      /.control-group
      /  = f.label "Playing Big V or MMBL", :class => 'control-label'
      /  .controls.btn-group{"data-toggle-name" => "member[representative_player]", "data-toggle" => "buttons-radio"}
      /    %button#representative_button{:type => "button", :value => "true", :class => "btn", "data-toggle" => "button"} Yes
      /    %button#non_representative_button{:type => "button", :value => "false", :class => "btn", "data-toggle" => "button"} No
      /  = f.hidden_field :representative_player

      .span12{style: "background-color:#f8efc8; padding-right: 30px; margin-bottom: 30px;"}
        %h4{style: "margin:12px;"} Payment Details

        /.control-group
        /  = f.label :card_holder_name, "Name on credit card", :class => 'control-label'
        /  .controls
        /    = f.text_field :card_holder_name, :placeholder => "Card Holder's Name", :class => 'text_field'

        .control-group
          = f.label :card_number, "Credit Card Number", :class => 'control-label'
          .controls
            = f.text_field :card_number, :placeholder => "Card Number", :class => 'text_field'

        .control-group
          = f.label :expiry_month, "Expiry", :class => 'control-label'
          .controls
            = f.select :card_expiry_month, credit_card_months, {}, {style: "width:90px"}
            = f.select :card_expiry_year, credit_card_years, {}, {style: "width:90px"}

        .control-group
          = f.label :card_cvv, "Card CVV", :class => 'control-label'
          .controls
            = f.text_field :card_cvv, :placeholder => "Security Code", :class => 'text_field', style: "width:90px"

        = link_to image_tag("powered_by_stripe.png", style: "float:right; margin:14px;"), "https://stripe.com", target: '_blank'
        = image_tag("card-brands.png", style: "margin:14px;")

      .control-group{style: "clear:left; margin-top: 35px;"}
        = f.label :given_name, :class => 'control-label'
        .controls
          = f.text_field :given_name, :class => 'text_field'

      .control-group
        = f.label :family_name, :class => 'control-label'
        .controls
          = f.text_field :family_name, :class => 'text_field'

      .control-group#email_row
        = f.label :email, :class => 'control-label'
        .controls
          = f.text_field :email, :class => 'text_field'

      .control-group#postal_address_row
        = f.label :postal_address, :class => 'control-label'
        .controls
          = f.text_area :postal_address, :class => 'text_area', rows: 3

      .control-group
        = f.label :gender, :class => 'control-label'
        .controls.btn-group{"data-toggle-name" => "member[gender]", "data-toggle" => "buttons-radio"}
          %button#gender_male{:type => "button", :value => "Male", :class => "btn", "data-toggle" => "button"} Male
          %button{:type => "button", :value => "Female", :class => "btn", "data-toggle" => "button"} Female
        = f.hidden_field :gender

      .control-group
        = f.label :date_of_birth, :class => 'control-label'
        .controls
          = f.text_field :date_of_birth, :class => 'text_field', placeholder: "dd/mm/yyyy"

      .control-group
        = f.label :phone_number_mobile, "Phone Number", :class => 'control-label'
        .controls
          = f.text_field :phone_number_mobile, :class => 'text_field'

      .control-group
        = f.label :phone_number_other, "Emergency Contact Phone Number", :class => 'control-label'
        .controls
          = f.text_field :phone_number_other, :class => 'text_field'

      .control-group
        = f.label :new_member, :class => 'control-label'
        .controls.btn-group{"data-toggle-name" => "member[new_member]", "data-toggle" => "buttons-radio"}
          %button#is_new_member{:type => "button", :value => "true", :class => "btn", "data-toggle" => "button"} Yes
          %button#existing_member{:type => "button", :value => "false", :class => "btn", "data-toggle" => "button"} No
        = f.hidden_field :new_member

      .control-group#singlet_numbers{style: ("display:none" if @member.new_member)}
        = f.label :your_existing_mubc_singlet_numbers, :class => 'control-label'
        .controls
          = f.text_field :your_existing_mubc_singlet_numbers, :class => 'text_field', placeholder: "eg. 4, 13"

      .control-group#introductory_source{style: ("display:none" if !@member.new_member)}
        = f.label :how_did_you_hear_about_the_club, :class => 'control-label'
        .controls
          = f.text_area :how_did_you_hear_about_the_club, :class => 'text_area', rows: 3

      .control-group
        = f.label :international_student, :class => 'control-label'
        .controls.btn-group{"data-toggle-name" => "member[international_student]", "data-toggle" => "buttons-radio"}
          %button{:type => "button", :value => "true", :class => "btn", "data-toggle" => "button"} Yes
          %button{:type => "button", :value => "false", :class => "btn", "data-toggle" => "button"} No
        = f.hidden_field :international_student

      .control-group
        = f.label :availability, "Unavailable Dates", :class => 'control-label'
        .controls
          = f.text_area :availability, :class => 'text_area', rows: 3, placeholder: "eg. Overseas from June 1-14th and November 30-Feb 2nd and unavailable April 30th, June 3rd and November 16th"
          .muted
            We need to know well in advance in as much detail as possible when you will and won't be available to play Sunday night basketball so that we can place you in an appropriate team. The Seasons run year round from mid-january until mid-december.

      .control-group
        = f.label :portrait_photo, :class => 'control-label'
        .controls
          = f.hidden_field(:photo_cache)
          = f.file_field(:photo)
          .muted
            If you are a
            %b new member
            please upload a portrait photo
            so we can recognise you at training and allocate you to a team.

      .control-group
        = f.label :terms_of_membership, :class => 'control-label'
        .controls
          %textarea.text_area{rows: 7, disabled: 'disabled'}~ Member.disclaimer

  .muted * Even if you are an existing member from last year, we require you to fill out all the fields again so that your details can be kept up to date.

  .form-actions
    = f.submit "Submit", :class => 'btn btn-primary', id: 'submit_button'

  - if Rails.env.development?
    %br
    %br
    %br
    = button_tag :populate, id: 'populate_fields'
