.container-fluid
  .row-fluid
    .span8
      = form_for @member, as: :member, url: confirm_paypal_purchase_member_path(@member), method: :post, html: { :class => 'form-horizontal' } do |f|

        .confirmation{style: "margin-left:50px"}
          #membership_steps.row
            .span12
              .form-actions{style: 'padding-left:0'}
                %ul.payment_steps#paypal_instructions
                  %li
                    %em Step 1:
                    Enter Your Membership Details
                  %li
                    %em Step 2:
                    Create or Login to your Paypal Account
                  %li.selected
                    %em Step 3:
                    Confirm Payment
          
          .row
            .span12
              %p
                Great stuff, you're almost there!
              %p
                Make sure the email address and postal address we received from Paypal is correct (for insurance purposes) and then go ahead and hit the 
                %em 'Confirm Payment' 
                button below to complete this transaction.
      
          .row
            .span12
              .form-actions
                = f.submit "Confirm Payment", :class => 'btn btn-primary', id: 'submit_button'
      
          .row
            .span12
              .control-group
                = f.label :amount_due, :class => 'control-label'
                .controls
                  %strong== $#{@member.amount_paid}

              .control-group
                = f.label :email, :class => 'control-label'
                .controls
                  = f.text_field :email, :class => 'text_field'

              .control-group
                = f.label :postal_address, :class => 'control-label'
                .controls
                  = f.text_area :postal_address, :class => 'text_area', rows: 3
      
              - if @member.photo?
                .control-group
                  = f.label :photo, :class => 'control-label'
                  .controls
                    = image_tag @member.photo_url(:thumbnail)

              - membership_details.each do |attr|
                .control-group
                  = f.label attr, :class => 'control-label'
                  .controls
                    %input{type: 'text', class: 'text_field', disabled: 'disabled', value: member_field(attr)}
        
              .form-actions
                = f.submit "Confirm Payment", :class => 'btn btn-primary', id: 'submit_button'
